<app-mat-address-form></app-mat-address-form>

<h2>New York State Legislature</h2>

<!-- User Legislators -->
<div class="flex-container">

    <div class="legislators"
        *ngIf="user.sldlDivisionCode">
        <mat-nav-list>
            <h3 matSubheader>Assembly</h3>
            <a mat-list-item routerLink="/legislator-detail/{{legislator.memberId}}" *ngFor="let legislator of (legislators | async | byChamber:'ASSEMBLY' | byDistrict:user.sldlDivisionCode)">
                <mat-card>
                    <mat-card-title>{{legislator.shortName}}</mat-card-title>
                    <mat-card-subtitle>District {{legislator.districtCode}}</mat-card-subtitle>
                </mat-card>
            </a>
        </mat-nav-list>
    </div>

    <div class="legislators"
        *ngIf="user.slduDivisionCode">
        <mat-nav-list>
            <h3 matSubheader>Senate</h3>
            <a mat-list-item routerLink="/legislator-detail/{{legislator.memberId}}" *ngFor="let legislator of (legislators | async | byChamber:'SENATE' | byDistrict:user.slduDivisionCode)">
                <mat-card>
                    <mat-card-title>{{legislator.shortName}}</mat-card-title>
                    <mat-card-subtitle>District {{legislator.districtCode}}</mat-card-subtitle>
                </mat-card>
            </a>
        </mat-nav-list>
    </div>
</div>

<div class="flex-container">

    <div class="legislators">
        <mat-nav-list>
            <h3 matSubheader>Assembly</h3>
            <a mat-list-item routerLink="/legislator-detail/{{legislator.memberId}}" *ngFor="let legislator of (legislators | async | byChamber:'ASSEMBLY')">
                <mat-card>
                    <mat-card-title>{{legislator.shortName}}</mat-card-title>
                    <mat-card-subtitle>District {{legislator.districtCode}}</mat-card-subtitle>
                </mat-card>
            </a>
        </mat-nav-list>
    </div>

    <div class="legislators">
        <mat-nav-list>
            <h3 matSubheader>Senate</h3>
            <a mat-list-item routerLink="/legislator-detail/{{legislator.memberId}}" *ngFor="let legislator of (legislators | async | byChamber:'SENATE')">
                <mat-card>
                    <mat-card-title>{{legislator.shortName}}</mat-card-title>
                    <mat-card-subtitle>District {{legislator.districtCode}}</mat-card-subtitle>
                </mat-card>
            </a>
        </mat-nav-list>
    </div>
</div>
